<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Recipe</title>
  </head>
  <body>
    <form class="" action="/recipes/<%= @recipe.id %>" method="post">
      <input type="hidden" id="hidden" name="_method" value="patch">
      <input type="text" name="name" value="<%= @recipe.name %>">
      <input type="text" name="ingredients" value="<%= @recipe.ingredients %>">
      <input type="text" name="cook_time" value="<%= @recipe.cook_time %>">

    </form>
  </body>
</html>
